#user {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid rgba(23, 162, 184);
    border-radius: 25px;
    background-color: rgba(23, 162, 184, 0.1);
}

img {
    margin-top: 20px;
    border-radius: 25px;
    padding: 3px;
    background-color: rgba(23, 162, 184, 0.5);
}
#data {
    margin-top: 20px;
}